@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased text-gray-900 bg-brand-50;
  }
}

/* Custom Scrollbar Styles */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thumb-brand-400::-webkit-scrollbar-thumb {
  background-color: #b89d7f;
  border-radius: 3px;
}

.scrollbar-thumb-brand-600::-webkit-scrollbar-thumb {
  background-color: #8c6b4a;
}

.scrollbar-track-gray-100::-webkit-scrollbar-track {
  background-color: #efebe5;
  border-radius: 3px;
}

.scrollbar-thumb-brand-400:hover::-webkit-scrollbar-thumb {
  background-color: #8c6b4a;
}